@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face { font-family: 'CinzelDecorative-Bold'; src: url('../fonts/CinzelDecorative-Bold.otf') format('opentype'), url('../fonts/CinzelDecorative-Bold.ttf') format('truetype'); }
@font-face { font-family: 'CinzelDecorative-Regular'; src: url('../fonts/CinzelDecorative-Regular.otf') format('opentype'), url('../fonts/CinzelDecorative-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Ovo-Regular'; src: url('../fonts/Ovo-Regular.otf') format('opentype'); }

html { background: url('../images/guitar.jpg') no-repeat center fixed; background-size: cover; }

body { position: relative; font-family: Ovo-Regular; font-size: 18px; color: #ddd; background: inherit; }
/*background: url('../images/logos/jyb-logo.png') no-repeat fixed; background-position: top 15% right 7%; background-size: 35%;*/

.btn-default { box-sizing: border-box; letter-spacing: 5px; background-color: inherit; color: #555; border: 2px solid rgb(66, 80, 83); border-radius: 1px; padding: 14px; font-size: 16px; font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; transition: background-color 1s, color .5s; }
    .btn-default:hover { background-color: rgba(66,80,83, 1); color: #fff; border: none; padding: 16px; }


@media screen and (max-width: 992px) {
}

@media screen and (max-width: 769px) {
}

@media screen and (max-width: 480px) {
}


/* :: HEADER CONTENT :: */
header { max-width: 1200px; margin: 0 auto; position: relative; width: 100%; height: auto; min-height: 100vh; color: #3e3e3e; padding-top: 100px; }
    header .content-container { position: relative; padding: 0 125px 0 25px; margin: 0 auto; }
        header .content-container h1 { color: rgba(66, 80, 83, 1); font-family: 'Stint Ultra Condensed', cursive; font-weight: 700; font-size: 65px; text-align: center; border-radius: 1px; padding: 5px 0; text-transform: uppercase; }
        header .content-container p { line-height: 40px; font-size: 22px; margin: 25px 0; }
        header .content-container img { display: block; width: 50%; margin: 0 auto; }
        header .content-container ul.desc-list { display: block; list-style: none; width: 100%; margin: 0 auto; border-top: 1px solid rgba(135, 126, 106, 1); border-bottom: 1px solid rgba(135, 126, 106, 1); padding: 10px 5px; }
            header .content-container ul.desc-list li { font-size: 14px; font-family: 'CinzelDecorative-Bold'; letter-spacing: 3px; }
                header .content-container ul.desc-list li:nth-child(1) { width: 25%; text-align: left; }
                header .content-container ul.desc-list li:nth-child(2) { width: 45%; text-align: center; }
                header .content-container ul.desc-list li:nth-child(3) { width: 25%; text-align: right; }
        header .content-container .btn-default { width: 100%; }
    header .logo-container { padding: 0 50px 0 100px; margin: 0 auto; }
        header .logo-container img { width: 100%; }

    header .main-scroll-nav { position: absolute; display: block; bottom: 0; padding: 0; margin: 0; text-align: center; width: 100%; }
        header .main-scroll-nav a { color: rgb(227, 190, 66); font-size: 100px; line-height: 25px; transition: opacity 1s; opacity: .5; }
            header .main-scroll-nav a:hover { opacity: 1; }

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 769px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}


/* :: MAIN C    ONTENT :: */
main { height: auto; min-height: 100vh; padding: 50px 0; position: relative; background-color: rgba(66, 80, 83,1 ); width: 100%; color: #E0E0E0; }
    main .shows-summary-container { }
        main .shows-summary-container .show-summary { padding: 0 50px; }
            main .shows-summary-container .show-summary .venue { font-size: 50px; padding-top: 55px; display: block; position: relative; }
            main .shows-summary-container .show-summary .date-box { display: inline-block; border: 5px solid #ccc; width: 161px; height: 161px; text-align: center; }
                main .shows-summary-container .show-summary .date-box .date { color: rgba(227, 190, 66,.5); font-size: 100px; }
            main .shows-summary-container .show-summary .day { display: block; text-align: center; font-size: 40px; letter-spacing: 15px; text-transform: uppercase; }
            main .shows-summary-container .show-summary .month { display: block; text-align: center; font-size: 25px; letter-spacing: 10px; padding-top: 5px; text-transform: lowercase; color: rgba(0,0,0,.5); font-weight: 700; }


footer { }

@media screen and (max-width: 769px) {
}
